<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>路由改造</title>
</head>
<body>
    登录页面
    <img src="./showimg" />
    收到参数：{email} <br>
    收到密码：{pwd}<br>
    <form action="./login" method="post">
        <table align="center">
            <tr>
                <td>email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="登录"></td>
            </tr>
        </table>
    </form>
</body>
</html>