//
   Created by Administrator on 2017/3/1.
doctype html
html
    head
        title haha
    body
        #box
            ul
                li  haha
                li  enen
                li  xixi
        #aside